/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
   
}

*{
    box-sizing:border-box;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}
.container{
    min-height:100%;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}


.navbar-collapse{
    float:right;
    font-weight:bold;
}
.dropdown-item{
    display:block;
}
.search{
    border-radius:20px;
    width:200px;
    height:30px;
    margin-top:10px;
    border:none;
    margin-left:20px;
    padding-left:20px;
}

/* Shop */


.catagory{
    width:100%;
}

.pTitle{
    font-size:1.8em;
}
.price{
    color:red;
    font-size:1.2em;
}
.pDescription{
    color:#232323;
}
.cName{
    text-align:center;
    margin:80px;
}
.product{
    display:inline-block;
    width:25%;
    margin:0;
    float:left;
    text-align:center;
}
.line{
    height:2px;
    width:500px;
    margin:90px auto;
    background-color:black;
    clear:both;

}
.moreBtn{
    float:right;
    font-size:1.2em;
    color:black;
    background-color:rgba(10,10,10,0);
    height:50px;
    width:130px;
    border:solid black 2px;
    margin:40px 50px ;
    padding:13px 5px;
    clear:both;

}
.moreBtn:hover{
    background-color:black;
    color:white;
}

.buyBtn {
    background-color: #26A69A;
    color: white;
    height: 40px;
    width: 100px;
    border: none;
    font-weight: 400;
    display: block;
    margin: 5px auto;
    font-size: 1.3em;
    padding-top: 8px;
}
.buyBtn:hover {
    background-color: white;
    border: 2px solid #26A69A;
}


/*Product detail*/

.left{
    float:left;
    width:40%;
    padding-top:50px;
}
.right {
    float: right;
    height:300px;
    width:300px;
}
.product_view_main{
    margin:100px auto;
    padding:50px;
}


.clear-float{
    clear:both;
}
.productDescription{
    font-size:1.2em;
    color:#545454;
    margin-top:20px;
}
.productPrice{
    font-size:1.8em;
    color:black;
    font-weight:bold;
    margin-top:20px;
}
.productBtn{
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 5px;
    background-color: #EE6E73;
    font-weight:bold;
    font-size: 1.5em;
    margin-top: 20px;
}
#login_link{
    display:inline;
    font-size:1.3em;
}




footer{
    height:20vh;
    width:100vw;
    max-width:100%;
    background-color:black;
    clear:both;
    color:white;
    margin-top:200px;
}

